.productGrid {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
  gap: 20px; /* Adjust spacing between items */
  justify-content: center; /* Align items to center */
  align-items: stretch;
  padding: 20px;
  max-width: 1600px;
  margin: auto;
}

.noProducts {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  grid-column: span 2;
}